
@import 'primereact/resources/primereact.min.css';
@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primeicons/primeicons.css';


.artwork-table .p-datatable-thead > tr > th {
  background-color: #76b8eec0; 
  color: #1f2937;
  font-weight: 600;
  border-bottom: 1px solid #dbeafe;
}

.artwork-table {
  border-radius: 14px;
  overflow: hidden;
}


.artwork-table .p-datatable-thead > tr:first-child > th:first-child {
  border-top-left-radius: 14px;
}

.artwork-table .p-datatable-thead > tr:first-child > th:last-child {
  border-top-right-radius: 14px;
}

.custom-btn {
  background-color: #76b8eec0;  
  color: #1a1a1a;
  border: none;

}

.custom-btn:hover {
  background-color: #53a5e9c0;
  color: #1a1a1a;
}
